<h1 class="text-center">Listing restaurants</h1>

<div class="container">
  <div class="row">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Photo url</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @restaurants.each do |restaurant| %>
          <tr>
            <div><%= restaurant.name %></div>
            <div><%= restaurant.description %></div>
            <div><%= image_tag restaurant.photo_url %></div>
            <button><%= link_to 'Show', restaurant %></button>
            <button><%= link_to 'Edit', edit_restaurant_path(restaurant) %></button>
            <button><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
